<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h4><%= shelter.name %></h4>
  <p>
    <%= button_to 'Show', "/shelters/#{shelter.id}", method: :get %>
    <%= button_to 'Edit', "/shelters/#{shelter.id}/edit", method: :get %>
    <%= button_to 'Delete', "/shelters/#{shelter.id}", method: :delete %>
  </p><br>
<% end %>
<%= button_to 'New Shelter', '/shelters/new' %>
